#root {
  display: flex;
  flex: 1 1 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}
.quiz-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 75%;
  height: 75%;
  border: 1px solid black;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 10px;
}
.selects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selects p {
  font-weight: 500;
}
.category-select {
  margin-bottom: 25px;
  align-items: center;
}

.category-select select {
  margin-left: 25px;
}

.size-input {
  flex: 1 1 80%;
  margin-bottom: 25px;
}

.size-input input {
  margin-left: 25px;
  max-height: 1em;
}
